---
layout: default
---
<header class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">Eat Sheets</a>
</header>

<main id="content" role="main">
  <div class="container">
    <div class="row pt-md-3">
      {% for dish in page.dishes %}
      <div class="col-md-4 d-flex">
        <div class="card mb-4 shadow-sm flex-fill">
          <img src="../{{ page.img_path }}/{{ dish.image }}" height="225" style="object-fit: cover">
          
          <div class="card-body d-flex flex-column">
            <h2 class="card-title">{{ dish.name }}</h2>
            
            <!-- {% if dish.name_alt %}
            <small class="text-muted"><i>alt: {{ dish.name_alt }}</i></small>
            {% endif %} -->

            <p class="card-text">{{ dish.summary }}</p>
            <p class="card-text"><small class="text-muted">{{ dish.notes }}</small></p>
            
            <!-- bottom align -->
            <div class="mt-auto">
              <p class="card-text">{{ dish.dietary_restrictions }} {% if dish.dietary_warnings %}[{{ dish.dietary_warnings }}?]{% endif %}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  {% for lang in dish.lang %}
                  {% if forloop.length == 1 %}
                  <button type="button" class="btn btn-outline-primary" onclick="speak('{{ dish.name_tts_utterance }}', '{{ lang }}');">🗣Speak</button>
                  {% else %}
                  <button type="button" class="btn btn-outline-primary" onclick="speak('{{ dish.name_tts_utterance }}', '{{ lang }}');">
                    {% if lang == "zh-HK" %}🗣Cantonese{% elsif lang == "zh-CN" %}🗣Mandarin{% else %}🗣{{ lang }}{% endif %}
                  </button>
                  {% endif %}
                  {% endfor %}
                </div>
                <div>                  
                  {% if dish.wikipedia_en %}
                  <a href="{{ dish.wikipedia_en }}" class="btn btn-outline-secondary" style="font-family: serif">W</a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>  
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</main>

<script>
  function speak(s, lang) {
    let msg = new SpeechSynthesisUtterance(s);
    msg.lang = lang;
    window.speechSynthesis.speak(msg);
  }
</script>
