---
layout: default
---
<ul>
{% for dish in page.dishes %}
  <li>
    <h2>{{ dish.name }}</h2>

    {% if dish.name_alt %}
    <p>alt: {{ dish.name_alt }}</p>
    {% endif %}
    
    {% if dish.image %}
    <img src="../{{ page.img_path }}/{{ dish.image }}" width=160>
    {% endif %}

    {% for lang in dish.lang %}
    <button onclick="speak('{{ dish.name_tts_utterance }}', '{{ lang }}');">speak {{ lang }}</button>
    {% endfor %}
    
    <p>
      {{ dish.summary }}
      {% if dish.wikipedia_en %}
      [<a href="{{ dish.wikipedia_en }}">Wikipedia</a>]
      {% endif %}
    </p>

    <p>{{ dish.notes }}</p>
    
    {% if dish.dietary_restrictions %}
    <p>May contain {{ dish.dietary_restrictions }}.</p>
    {% endif %}
  </li>
{% endfor %}
</ul>

<script>
  function speak(s, lang) {
    let msg = new SpeechSynthesisUtterance(s);
    msg.lang = lang;
    window.speechSynthesis.speak(msg);
  }
</script>
