<!doctype html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132475402-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-132475402-1');
    </script>

    <meta charset="utf-8">
    <title>{{ page.title }}</title>
  </head>
  <body>
    {{ content }}

  <footer>
    <hr>
    <p>See an error or want to add to this website? Create an issue or pull request on GitHub.</p>
    <hr>
    <p>Made with ☕️ by John Chang.</p>
  </footer>

  </body>
</html>
