<!doctype html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132475402-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-132475402-1');
    </script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>{{ page.title }}</title>
  </head>
  <body>
    {{ content }}
    
    <footer class="bd-footer bg-light text-muted">
      <div class="container-fluid p-3 p-md-5">
        <p>Want to add or fix something on this site? Create an issue or pull request on <a href="https://github.com/Wikifood/EatSheets">GitHub</a>.</p>
        <p>Made with ☕️ by <a href="https://github.com/jrc">jrc</a>.</p>
      </div>
    </footer>
  </body>
</html>
